<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeName</key>
		<string>全部</string>
		<key>typeButtonImage</key>
		<string>className_totalButton</string>
		<key>typeBackImage</key>
		<string>className_total</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>美食</string>
		<key>typeButtonImage</key>
		<string>className_foodButton</string>
		<key>typeBackImage</key>
		<string>className_food</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>音乐</string>
		<key>typeButtonImage</key>
		<string>className_musicButton</string>
		<key>typeBackImage</key>
		<string>className_music</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>集会</string>
		<key>typeButtonImage</key>
		<string>className_assembleButton</string>
		<key>typeBackImage</key>
		<string>className_assemble</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>户外</string>
		<key>typeButtonImage</key>
		<string>className_exteriorButton</string>
		<key>typeBackImage</key>
		<string>className_exterior</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>购物</string>
		<key>typeButtonImage</key>
		<string>className_shoppingButton</string>
		<key>typeBackImage</key>
		<string>className_shopping</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>电影</string>
		<key>typeButtonImage</key>
		<string>className_shoppingButton</string>
		<key>typeBackImage</key>
		<string>className_shopping</string>
	</dict>
	<dict>
		<key>typeName</key>
		<string>约会</string>
		<key>typeButtonImage</key>
		<string>className_shoppingButton</string>
		<key>typeBackImage</key>
		<string>className_shopping</string>
	</dict>
</array>
</plist>
